In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv(r"adult.data.csv")
display(data.head(20))

FileNotFoundError: [Errno 2] No such file or directory: 'adult.data.csv'

Male Female distributiom

In [ ]:
countf = data["sex"].value_counts()  
print(countf.to_string())

sex
Male      21790
Female    10771

Married man %

In [ ]:
total_men_married =data[
    (data["marital-status"] == "Married-civ-spouse") |
    (data["marital-status"] == "Married-AF-spouse")
].shape[0]

total_men = (data["sex"]== "male").shape[0]

if total_men != 0:

    print(((total_men_married / total_men) * 100),"%")

46.06431006418722 %

Male Female distributiom

In [ ]:
native_country_german =data[
    (data["native-country"] == "Germany") 
].shape[0]
native_country = (data["native-country"]).shape[0]
total = (native_country_german / native_country * 100) 
print(total,"%")

0.42074874850281013 %

the mean and standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year

In [ ]:
stats = data.groupby("salary")["age"].agg(["mean","std"])
print(stats)

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

Is it true that percentage of men among people who earn more than 50K have is more than percentage of women?

In [ ]:
income = data[data['salary'] == '>50K']
count = income['sex'].value_counts()
count_prsnt = (count / count.sum()) * 100
for gender, pct in count_prsnt.items():
    print(f"{gender}: {pct:.2f}%")

Male: 84.96%
Female: 15.04%

7. Is it true that people who earn more than 50K have at least high school education?

In [ ]:
education_order = [
    "Preschool", "1st-4th", "5th-6th", "7th-8th",
    "9th", "10th", "11th", "12th",
    "HS-grad", "Some-college", "Assoc-voc", "Assoc-acdm",
    "Bachelors", "Masters", "Doctorate", "Prof-school"
]

education_rank = {edu: i for i, edu in enumerate(education_order)}
data["education_rank"] = data["education"].map(education_rank)

high_earners = data[data["salary"].str.contains(">50K")]

below_hs = high_earners[high_earners["education_rank"] < education_rank["HS-grad"]]

num_below_hs = below_hs.shape[0]
num_high_earners = high_earners.shape[0]
percentage = (num_below_hs / num_high_earners) * 100
print(f"Total people earning >50K: {num_high_earners}")
print(f"People earning >50K with education below HS-grad: {num_below_hs}")
print(f"Percentage of exceptions: {percentage:.2f}%")

if num_below_hs == 0:
    print("\n✅ All people earning >50K have at least high school education.")
else:
    display(below_hs[["education", "salary"]].head())

Total people earning >50K: 7841
People earning >50K with education below HS-grad: 244
Percentage of exceptions: 3.11%

    education salary
183   7th-8th   >50K
214   7th-8th   >50K
415      12th   >50K
588      10th   >50K
592   7th-8th   >50K

8. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [ ]:
age_stat = data.groupby(['race', 'sex'])['age'].agg(['mean', 'min', 'max'])

AIE_max = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()

display(age_stat)
print('maximum age of men of Amer-Indian-Eskimo race')
print(AIE_max)

                                mean  min  max
race               sex
Amer-Indian-Eskimo Female  37.117647   17   80
                   Male    37.208333   17   82
Asian-Pac-Islander Female  35.089595   17   75
                   Male    39.073593   18   90
Black              Female  37.854019   17   90
                   Male    37.682600   17   90
Other              Female  31.678899   17   74
                   Male    34.654321   17   77
White              Female  36.811618   17   90
                   Male    39.652498   17   90

maximum age of men of Amer-Indian-Eskimo race
82

Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [ ]:
married_man = data[
    (data['marital-status'].str.startswith('Married')) &
    (data['sex']== 'Male')
    ]
ststs = ((married_man['salary'] == '>50K').sum())
print('>50K' , ststs)
print('<=50K' , married_man.shape[0] - ststs)

>50K 5965
<=50K 7576

How many people work maximum number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [ ]:

max_hours = data['hours-per-week'].max()
max_workers = data[data['hours-per-week'] == max_hours]
num_max_workers = len(max_workers)
num_rich_max_workers = (max_workers['salary'] == '>50K').sum()
percent_rich = (num_rich_max_workers / num_max_workers) * 100
print(f"Number of people who work max hours: {num_max_workers}")
print(f"Percentage earning >50K among them: {percent_rich:.2f}%")

Number of people who work max hours: 85
Percentage earning >50K among them: 29.41%

Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [ ]:
country_avg_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().reset_index()

# Display results for all countries
print("Average hours per week by country and salary group:")
display(country_avg_hours)

# Show specifically Japan's results
display("\nDetailed results for Japan:")
display(country_avg_hours[country_avg_hours['native-country'] == 'Japan'])

Average hours per week by country and salary group:

   native-country salary  hours-per-week
0               ?  <=50K       40.164760
1               ?   >50K       45.547945
2        Cambodia  <=50K       41.416667
3        Cambodia   >50K       40.000000
4          Canada  <=50K       37.914634
..            ...    ...             ...
77  United-States   >50K       45.505369
78        Vietnam  <=50K       37.193548
79        Vietnam   >50K       39.200000
80     Yugoslavia  <=50K       41.600000
81     Yugoslavia   >50K       49.500000

[82 rows x 3 columns]

'\nDetailed results for Japan:'

   native-country salary  hours-per-week
47          Japan  <=50K       41.000000
48          Japan   >50K       47.958333

What are top 3 most popular professions among them who earn a lot?

In [ ]:
top3 = high_earners['occupation'].value_counts().head(3)
display(top3)

occupation
Exec-managerial    1968
Prof-specialty     1859
Sales               983
Name: count, dtype: int64

Describe which workclass among men and women is most popular in each country